/*Some css fixes to use night theme with IPython slides*/
.reveal body {
background-color: white;  /*#707070*/
color: #282828;
}
.reveal a {
  color: #019131;
}
.reveal p {
color: #282828;
}
.reveal h1 {
color: #027784;  /*#67bdce*/
font-family: Impact;
}
.reveal h2 {
color: #027784;
font-family: Impact;
}
.reveal h3 {
color: #027784;
font-family: Impact;
}
.reveal ul, ol {
color: #282828;
}
/*div.output_area pre {
color: #282828;
}
div.output_stderr {
background: #282828;  #F00;
}
.reveal table th, .reveal table td {
color: #828282;  color of text in dataframes
}
*/
